<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall-dushen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{171,161}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{1,168},{171,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{155,147}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{1,331},{155,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-fortune-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{133,161}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{1,480},{133,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{113,153}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{136,490},{113,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-huluwa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{97,157}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{158,331},{97,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-meng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{121,77}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{174,168},{121,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mall-speaker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{225,165}</string>
                <key>spriteSourceSize</key>
                <string>{225,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mall-icon.png</string>
            <key>size</key>
            <string>{256,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeee1a865f4c4806f048d5166f70c9c8:c33074b76645bc8fb201d4717ff4e0b6:b5a427aeb5d23486425ec6c975318c74$</string>
            <key>textureFileName</key>
            <string>mall-icon.png</string>
        </dict>
    </dict>
</plist>
