<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall-alert-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1119,591}</string>
                <key>spriteSourceSize</key>
                <string>{1119,591}</string>
                <key>textureRect</key>
                <string>{{867,152},{1119,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{534,0},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,121}</string>
                <key>spriteSourceSize</key>
                <string>{288,121}</string>
                <key>textureRect</key>
                <string>{{649,0},{288,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,152}</string>
                <key>spriteSourceSize</key>
                <string>{327,152}</string>
                <key>textureRect</key>
                <string>{{937,0},{327,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-left-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,881}</string>
                <key>spriteSourceSize</key>
                <string>{327,881}</string>
                <key>textureRect</key>
                <string>{{1500,743},{327,881}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-mall-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,73}</string>
                <key>spriteSourceSize</key>
                <string>{232,73}</string>
                <key>textureRect</key>
                <string>{{302,0},{232,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-masking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,844}</string>
                <key>spriteSourceSize</key>
                <string>{1500,844}</string>
                <key>textureRect</key>
                <string>{{0,743},{1500,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-no-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,152}</string>
                <key>spriteSourceSize</key>
                <string>{327,152}</string>
                <key>textureRect</key>
                <string>{{1264,0},{327,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-plate-textfiled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,71}</string>
                <key>spriteSourceSize</key>
                <string>{302,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{302,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,406}</string>
                <key>spriteSourceSize</key>
                <string>{338,406}</string>
                <key>textureRect</key>
                <string>{{529,152},{338,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,193}</string>
                <key>spriteSourceSize</key>
                <string>{529,193}</string>
                <key>textureRect</key>
                <string>{{0,152},{529,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mall-background.png</string>
            <key>size</key>
            <string>{1986,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6ad8da70dd7b2dd7d66b744307cef37:e664f026f91b504ecdd7b0070a42adab:23c6e7d171ced2684577a24acd17de96$</string>
            <key>textureFileName</key>
            <string>mall-background.png</string>
        </dict>
    </dict>
</plist>
