<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall-icon-zuanshi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{440,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{660,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{880,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{1100,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-icon-zuanshi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,197}</string>
                <key>spriteSourceSize</key>
                <string>{220,197}</string>
                <key>textureRect</key>
                <string>{{1320,0},{220,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mall-zuanshi-icon.png</string>
            <key>size</key>
            <string>{1540,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:043b561e5e14627f899c4c6fb7864a04:68da7b9b463f36e363dd52a3b5c62ef2:87251d4050483bcd2eb4d3113c0288f0$</string>
            <key>textureFileName</key>
            <string>mall-zuanshi-icon.png</string>
        </dict>
    </dict>
</plist>
