<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall-buy-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-buy-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{294,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-buy-prop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{588,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,69}</string>
                <key>spriteSourceSize</key>
                <string>{136,69}</string>
                <key>textureRect</key>
                <string>{{882,0},{136,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,69}</string>
                <key>spriteSourceSize</key>
                <string>{136,69}</string>
                <key>textureRect</key>
                <string>{{1018,0},{136,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-no-buy-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{1154,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-no-buy-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{1448,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall-no-buy-prop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,87}</string>
                <key>spriteSourceSize</key>
                <string>{294,87}</string>
                <key>textureRect</key>
                <string>{{1742,0},{294,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mall-typeface.png</string>
            <key>size</key>
            <string>{2036,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e70baeaa0a55938fca9ac9202d36f5:1bbda934d672c2bc2520eb3ae38cde97:be184896f424527a52ef1b1fbdbd2e47$</string>
            <key>textureFileName</key>
            <string>mall-typeface.png</string>
        </dict>
    </dict>
</plist>
