<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_Ddanong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,608},{200,242}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{200,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,406},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{200,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{200,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,608},{200,242}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{200,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,406},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{200,244}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{200,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{200,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{200,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_Ddanong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{202,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Ddanong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b9085a975310a8ba2a09450108710b0:c3cb52eb8a96c90fa3848b0c1077748f:2d4c3958b49869337ec4fbd96a8d0c30$</string>
            <key>textureFileName</key>
            <string>ui_Ddanong.png</string>
        </dict>
    </dict>
</plist>
