<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_info_btn_recording_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,66}</string>
                <key>spriteSourceSize</key>
                <string>{539,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{539,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_btn_recording_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,66}</string>
                <key>spriteSourceSize</key>
                <string>{539,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{539,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_biaoqing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{539,66},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_biaoqing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{605,66},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_biaoqing_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{671,66},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,98}</string>
                <key>spriteSourceSize</key>
                <string>{727,98}</string>
                <key>textureRect</key>
                <string>{{0,139},{727,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_change_recording.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{727,139},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{839,139},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_keyboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{0,237},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_recording_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,229}</string>
                <key>spriteSourceSize</key>
                <string>{216,229}</string>
                <key>textureRect</key>
                <string>{{112,237},{216,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_recording_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,229}</string>
                <key>spriteSourceSize</key>
                <string>{216,229}</string>
                <key>textureRect</key>
                <string>{{328,237},{216,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_recording_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,229}</string>
                <key>spriteSourceSize</key>
                <string>{216,229}</string>
                <key>textureRect</key>
                <string>{{544,237},{216,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_recording_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,229}</string>
                <key>spriteSourceSize</key>
                <string>{216,229}</string>
                <key>textureRect</key>
                <string>{{760,237},{216,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_img_top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,92}</string>
                <key>spriteSourceSize</key>
                <string>{732,92}</string>
                <key>textureRect</key>
                <string>{{0,466},{732,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_laba_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{732,466},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_laba_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{798,466},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_laba_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{864,466},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_fs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{100,49}</string>
                <key>textureRect</key>
                <string>{{0,558},{100,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_fsyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,39}</string>
                <key>spriteSourceSize</key>
                <string>{128,39}</string>
                <key>textureRect</key>
                <string>{{100,558},{128,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_hyxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,56}</string>
                <key>spriteSourceSize</key>
                <string>{232,56}</string>
                <key>textureRect</key>
                <string>{{228,558},{232,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_jwhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,38}</string>
                <key>textureRect</key>
                <string>{{460,558},{128,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_qk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{588,558},{94,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_info_title_schy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,37}</string>
                <key>spriteSourceSize</key>
                <string>{127,37}</string>
                <key>textureRect</key>
                <string>{{682,558},{127,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_friend_imgs.png</string>
            <key>size</key>
            <string>{976,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e161f674114fe5f493cc84e5130b0a77:4e8c4a87257860787d30cc71043652ac:4961e85b58a9fedbfc3e1aa8b8b90a2d$</string>
            <key>textureFileName</key>
            <string>home_friend_imgs.png</string>
        </dict>
    </dict>
</plist>
