<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>activity_title_czdyh_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{271,54}</string>
			<key>spriteSourceSize</key>
			<string>{271,54}</string>
			<key>textureRect</key>
			<string>{{0,54},{271,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_czdyh_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{271,54}</string>
			<key>spriteSourceSize</key>
			<string>{271,54}</string>
			<key>textureRect</key>
			<string>{{1188,0},{271,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_czrw_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{651,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_czrw_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{434,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_dzp_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,54}</string>
			<key>spriteSourceSize</key>
			<string>{163,54}</string>
			<key>textureRect</key>
			<string>{{271,54},{163,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_dzp_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,54}</string>
			<key>spriteSourceSize</key>
			<string>{163,54}</string>
			<key>textureRect</key>
			<string>{{1459,0},{163,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_fxrw01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{1519,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_fxrw_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{1302,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_lxwh_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{1085,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_lxwh_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,55}</string>
			<key>spriteSourceSize</key>
			<string>{217,55}</string>
			<key>textureRect</key>
			<string>{{868,54},{217,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_wkf_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,54}</string>
			<key>spriteSourceSize</key>
			<string>{163,54}</string>
			<key>textureRect</key>
			<string>{{1025,0},{163,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>activity_title_wkf_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,54}</string>
			<key>spriteSourceSize</key>
			<string>{163,54}</string>
			<key>textureRect</key>
			<string>{{862,0},{163,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_10lz_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{177,59}</string>
			<key>spriteSourceSize</key>
			<string>{177,59}</string>
			<key>textureRect</key>
			<string>{{0,109},{177,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{234,121}</string>
			<key>spriteSourceSize</key>
			<string>{234,121}</string>
			<key>textureRect</key>
			<string>{{1239,109},{234,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{234,121}</string>
			<key>spriteSourceSize</key>
			<string>{234,121}</string>
			<key>textureRect</key>
			<string>{{1473,109},{234,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{159,176}</string>
			<key>spriteSourceSize</key>
			<string>{159,176}</string>
			<key>textureRect</key>
			<string>{{588,230},{159,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{159,176}</string>
			<key>spriteSourceSize</key>
			<string>{159,176}</string>
			<key>textureRect</key>
			<string>{{747,230},{159,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{294,125}</string>
			<key>spriteSourceSize</key>
			<string>{294,125}</string>
			<key>textureRect</key>
			<string>{{0,230},{294,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_btn_22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{294,125}</string>
			<key>spriteSourceSize</key>
			<string>{294,125}</string>
			<key>textureRect</key>
			<string>{{294,230},{294,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_chongzhi_img.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{828,631}</string>
			<key>spriteSourceSize</key>
			<string>{828,631}</string>
			<key>textureRect</key>
			<string>{{598,815},{828,631}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_content_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,60}</string>
			<key>spriteSourceSize</key>
			<string>{46,60}</string>
			<key>textureRect</key>
			<string>{{177,109},{46,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_kaishi_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,44}</string>
			<key>spriteSourceSize</key>
			<string>{77,44}</string>
			<key>textureRect</key>
			<string>{{381,0},{77,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_lingqu_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,35}</string>
			<key>spriteSourceSize</key>
			<string>{77,35}</string>
			<key>textureRect</key>
			<string>{{0,0},{77,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_pan_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{598,598}</string>
			<key>spriteSourceSize</key>
			<string>{598,598}</string>
			<key>textureRect</key>
			<string>{{0,815},{597,598}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_queding_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{195,90}</string>
			<key>spriteSourceSize</key>
			<string>{195,90}</string>
			<key>textureRect</key>
			<string>{{483,109},{195,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_texiao.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{611,585}</string>
			<key>spriteSourceSize</key>
			<string>{611,585}</string>
			<key>textureRect</key>
			<string>{{1172,230},{611,585}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{561,117}</string>
			<key>spriteSourceSize</key>
			<string>{561,117}</string>
			<key>textureRect</key>
			<string>{{678,109},{561,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_wkf_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,44}</string>
			<key>spriteSourceSize</key>
			<string>{152,44}</string>
			<key>textureRect</key>
			<string>{{458,0},{152,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_wupin_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,266}</string>
			<key>spriteSourceSize</key>
			<string>{266,266}</string>
			<key>textureRect</key>
			<string>{{906,230},{266,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_wwc_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,49}</string>
			<key>spriteSourceSize</key>
			<string>{126,49}</string>
			<key>textureRect</key>
			<string>{{736,0},{126,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_xyzp_title_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,44}</string>
			<key>spriteSourceSize</key>
			<string>{152,44}</string>
			<key>textureRect</key>
			<string>{{229,0},{152,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_xyzp_title_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,44}</string>
			<key>spriteSourceSize</key>
			<string>{152,44}</string>
			<key>textureRect</key>
			<string>{{77,0},{152,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_ywc_title.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,49}</string>
			<key>spriteSourceSize</key>
			<string>{126,49}</string>
			<key>textureRect</key>
			<string>{{610,0},{126,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>home_activity_zuan_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{260,61}</string>
			<key>spriteSourceSize</key>
			<string>{260,61}</string>
			<key>textureRect</key>
			<string>{{223,109},{260,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>home_activity_imgs.png</string>
		<key>size</key>
		<string>{1783,1446}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c45e3a7c514eb2f208a923d92208d0ab:beaae8146f9e7fd7408fd56d0533e8f8:b7a76aae8d89737e82d9a60cb1ffaef6$</string>
		<key>textureFileName</key>
		<string>home_activity_imgs.png</string>
	</dict>
</dict>
</plist>
