<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_set_check_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{576,248},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_check_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{261,248},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{0,377},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_dlhb_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,35}</string>
                <key>spriteSourceSize</key>
                <string>{146,35}</string>
                <key>textureRect</key>
                <string>{{391,35},{146,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_dlsm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{183,53}</string>
                <key>textureRect</key>
                <string>{{78,248},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_dlxx_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,55}</string>
                <key>spriteSourceSize</key>
                <string>{186,55}</string>
                <key>textureRect</key>
                <string>{{709,248},{186,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,53}</string>
                <key>textureRect</key>
                <string>{{496,248},{80,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,53}</string>
                <key>textureRect</key>
                <string>{{629,248},{80,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_info_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,86}</string>
                <key>spriteSourceSize</key>
                <string>{725,86}</string>
                <key>textureRect</key>
                <string>{{0,463},{725,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_info_title_row.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,86}</string>
                <key>spriteSourceSize</key>
                <string>{725,86}</string>
                <key>textureRect</key>
                <string>{{218,377},{725,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_jpwj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,38}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{289,71},{144,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_tijiao_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,59}</string>
                <key>spriteSourceSize</key>
                <string>{121,59}</string>
                <key>textureRect</key>
                <string>{{556,303},{121,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_tixian_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,44}</string>
                <key>spriteSourceSize</key>
                <string>{86,44}</string>
                <key>textureRect</key>
                <string>{{825,155},{86,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_wjph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,34}</string>
                <key>spriteSourceSize</key>
                <string>{119,34}</string>
                <key>textureRect</key>
                <string>{{474,0},{119,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_xz_alert_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,23}</string>
                <key>spriteSourceSize</key>
                <string>{343,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{343,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_xzyh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,44}</string>
                <key>spriteSourceSize</key>
                <string>{181,44}</string>
                <key>textureRect</key>
                <string>{{644,155},{181,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_xzzs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,35}</string>
                <key>spriteSourceSize</key>
                <string>{142,35}</string>
                <key>textureRect</key>
                <string>{{0,35},{142,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_yhkh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,42}</string>
                <key>spriteSourceSize</key>
                <string>{183,42}</string>
                <key>textureRect</key>
                <string>{{631,112},{183,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_ypwj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,38}</string>
                <key>spriteSourceSize</key>
                <string>{145,38}</string>
                <key>textureRect</key>
                <string>{{433,71},{145,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_yqrs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,36}</string>
                <key>spriteSourceSize</key>
                <string>{145,36}</string>
                <key>textureRect</key>
                <string>{{0,71},{145,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_yxID.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,36}</string>
                <key>spriteSourceSize</key>
                <string>{115,36}</string>
                <key>textureRect</key>
                <string>{{785,35},{115,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_daili_zxrs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,37}</string>
                <key>spriteSourceSize</key>
                <string>{144,37}</string>
                <key>textureRect</key>
                <string>{{145,71},{144,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_dlsq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,35}</string>
                <key>spriteSourceSize</key>
                <string>{123,35}</string>
                <key>textureRect</key>
                <string>{{662,35},{123,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_dlxx_btn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,35}</string>
                <key>spriteSourceSize</key>
                <string>{123,35}</string>
                <key>textureRect</key>
                <string>{{593,0},{123,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_ghmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{124,35}</string>
                <key>textureRect</key>
                <string>{{142,35},{124,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_gjtx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,43}</string>
                <key>spriteSourceSize</key>
                <string>{166,43}</string>
                <key>textureRect</key>
                <string>{{312,155},{166,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_head_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{725,463},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_kaiguan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,74}</string>
                <key>spriteSourceSize</key>
                <string>{143,74}</string>
                <key>textureRect</key>
                <string>{{677,303},{143,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_kaiguan_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{140,377},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,49}</string>
                <key>spriteSourceSize</key>
                <string>{70,49}</string>
                <key>textureRect</key>
                <string>{{899,199},{70,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_nv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{78,50}</string>
                <key>textureRect</key>
                <string>{{0,248},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{820,303},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_qhzh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,35}</string>
                <key>spriteSourceSize</key>
                <string>{125,35}</string>
                <key>textureRect</key>
                <string>{{266,35},{125,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_dlsm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,35}</string>
                <key>spriteSourceSize</key>
                <string>{125,35}</string>
                <key>textureRect</key>
                <string>{{716,0},{125,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_hqyzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,27}</string>
                <key>spriteSourceSize</key>
                <string>{131,27}</string>
                <key>textureRect</key>
                <string>{{343,0},{131,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_sjh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,43}</string>
                <key>spriteSourceSize</key>
                <string>{146,43}</string>
                <key>textureRect</key>
                <string>{{166,155},{146,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_sqdl_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,57}</string>
                <key>spriteSourceSize</key>
                <string>{181,57}</string>
                <key>textureRect</key>
                <string>{{375,303},{181,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_xingming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,42}</string>
                <key>textureRect</key>
                <string>{{526,112},{105,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_yxID.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,45}</string>
                <key>spriteSourceSize</key>
                <string>{150,45}</string>
                <key>textureRect</key>
                <string>{{0,199},{150,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_sqdaili_yzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,41}</string>
                <key>textureRect</key>
                <string>{{578,71},{150,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_srxmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,48}</string>
                <key>spriteSourceSize</key>
                <string>{232,48}</string>
                <key>textureRect</key>
                <string>{{667,199},{232,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_xgmm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,57}</string>
                <key>spriteSourceSize</key>
                <string>{189,57}</string>
                <key>textureRect</key>
                <string>{{186,303},{189,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yqrID.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,35}</string>
                <key>spriteSourceSize</key>
                <string>{125,35}</string>
                <key>textureRect</key>
                <string>{{537,35},{125,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yqrID_alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,42}</string>
                <key>spriteSourceSize</key>
                <string>{526,42}</string>
                <key>textureRect</key>
                <string>{{0,112},{526,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yqrID_placeholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,46}</string>
                <key>spriteSourceSize</key>
                <string>{517,46}</string>
                <key>textureRect</key>
                <string>{{150,199},{517,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yqrID_yqrID.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,56}</string>
                <key>spriteSourceSize</key>
                <string>{186,56}</string>
                <key>textureRect</key>
                <string>{{0,303},{186,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,43}</string>
                <key>spriteSourceSize</key>
                <string>{166,43}</string>
                <key>textureRect</key>
                <string>{{814,112},{166,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yxsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,53}</string>
                <key>spriteSourceSize</key>
                <string>{182,53}</string>
                <key>textureRect</key>
                <string>{{314,248},{182,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_yy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,43}</string>
                <key>spriteSourceSize</key>
                <string>{166,43}</string>
                <key>textureRect</key>
                <string>{{0,155},{166,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_set_zdts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,43}</string>
                <key>spriteSourceSize</key>
                <string>{166,43}</string>
                <key>textureRect</key>
                <string>{{478,155},{166,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_setting_imgs_new.png</string>
            <key>size</key>
            <string>{980,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27fc4903efcd4ea3b86b0f4f2ffc698d:dd4d77d56a2742a40496e0a9c7379b35:501dc0c14d543ed2f523650c77881f46$</string>
            <key>textureFileName</key>
            <string>home_setting_imgs_new.png</string>
        </dict>
    </dict>
</plist>
