<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>email_btn_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_btn_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_gold_title_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,64}</string>
                <key>spriteSourceSize</key>
                <string>{91,64}</string>
                <key>textureRect</key>
                <string>{{661,99},{91,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_gold_title_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{599,99},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{108,114}</string>
                <key>textureRect</key>
                <string>{{307,163},{108,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_chakan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,41}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{223,0},{74,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_ckyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,57}</string>
                <key>spriteSourceSize</key>
                <string>{185,57}</string>
                <key>textureRect</key>
                <string>{{0,99},{185,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_fsjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,45}</string>
                <key>spriteSourceSize</key>
                <string>{181,45}</string>
                <key>textureRect</key>
                <string>{{405,0},{181,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_fsyj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,57}</string>
                <key>spriteSourceSize</key>
                <string>{184,57}</string>
                <key>textureRect</key>
                <string>{{185,99},{184,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_fsyj_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,71}</string>
                <key>spriteSourceSize</key>
                <string>{235,71}</string>
                <key>textureRect</key>
                <string>{{0,163},{235,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_hyyj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{733,163},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_hyyj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{36,312},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_qrfs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,54}</string>
                <key>spriteSourceSize</key>
                <string>{194,54}</string>
                <key>textureRect</key>
                <string>{{481,45},{194,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_scqd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,54}</string>
                <key>spriteSourceSize</key>
                <string>{194,54}</string>
                <key>textureRect</key>
                <string>{{287,45},{194,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_sjrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,45}</string>
                <key>spriteSourceSize</key>
                <string>{183,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{183,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_sjrnc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,45}</string>
                <key>textureRect</key>
                <string>{{586,0},{221,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{183,45},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_wck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,42}</string>
                <key>spriteSourceSize</key>
                <string>{108,42}</string>
                <key>textureRect</key>
                <string>{{297,0},{108,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_wdyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{369,99},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_xtxx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{769,163},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_xtxx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{0,312},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_xtyj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{697,163},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_xtyj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,149}</string>
                <key>spriteSourceSize</key>
                <string>{36,149}</string>
                <key>textureRect</key>
                <string>{{805,163},{36,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_yck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,41}</string>
                <key>spriteSourceSize</key>
                <string>{103,41}</string>
                <key>textureRect</key>
                <string>{{120,0},{103,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email_title_yi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,51}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{231,45},{56,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_close_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{556,163},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,444}</string>
                <key>spriteSourceSize</key>
                <string>{779,444}</string>
                <key>textureRect</key>
                <string>{{72,312},{779,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_gift_box_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{235,163},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_oppen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{415,163},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_email_imgs_new.png</string>
            <key>size</key>
            <string>{851,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:801a4669d14961bd205864b3233feed8:31cc3a9465ce3d6ca71c7b87c194d406:7c511ed407b234d3d0d239b4b13394f6$</string>
            <key>textureFileName</key>
            <string>home_email_imgs_new.png</string>
        </dict>
    </dict>
</plist>
