<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_signIn_bright_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{401,66},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_btn_qdlj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,66}</string>
                <key>spriteSourceSize</key>
                <string>{243,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{243,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{304,170},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{359,170},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{414,170},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{0,335},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{110,335},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{55,335},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_day_title_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{165,335},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_gxhd_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,463}</string>
                <key>spriteSourceSize</key>
                <string>{110,463}</string>
                <key>textureRect</key>
                <string>{{220,335},{110,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,504}</string>
                <key>spriteSourceSize</key>
                <string>{162,504}</string>
                <key>textureRect</key>
                <string>{{330,335},{162,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_status_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,151}</string>
                <key>spriteSourceSize</key>
                <string>{152,151}</string>
                <key>textureRect</key>
                <string>{{152,170},{152,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_status_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,151}</string>
                <key>spriteSourceSize</key>
                <string>{152,151}</string>
                <key>textureRect</key>
                <string>{{0,170},{152,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,55}</string>
                <key>spriteSourceSize</key>
                <string>{233,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_wzdl_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,66}</string>
                <key>spriteSourceSize</key>
                <string>{243,66}</string>
                <key>textureRect</key>
                <string>{{233,0},{243,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_yqd_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,84}</string>
                <key>spriteSourceSize</key>
                <string>{158,84}</string>
                <key>textureRect</key>
                <string>{{243,66},{158,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_signIn_imgs_new.png</string>
            <key>size</key>
            <string>{505,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a050323345b7fd390e1fb87533b0f7:8fc634adbc54189a7b2c8b3fdff56121:73f949c8ddf39cffdbbf6ddaaab33957$</string>
            <key>textureFileName</key>
            <string>home_signIn_imgs_new.png</string>
        </dict>
    </dict>
</plist>
