<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gonggao_bg_img_01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{828,680}</string>
                <key>spriteSourceSize</key>
                <string>{828,680}</string>
                <key>textureRect</key>
                <string>{{0,1190},{828,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao_czyh_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,39}</string>
                <key>spriteSourceSize</key>
                <string>{140,39}</string>
                <key>textureRect</key>
                <string>{{140,192},{140,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao_czyh_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,39}</string>
                <key>spriteSourceSize</key>
                <string>{140,39}</string>
                <key>textureRect</key>
                <string>{{280,192},{140,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao_lxwh_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,39}</string>
                <key>spriteSourceSize</key>
                <string>{140,39}</string>
                <key>textureRect</key>
                <string>{{420,153},{140,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao_lxwh_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,39}</string>
                <key>spriteSourceSize</key>
                <string>{140,39}</string>
                <key>textureRect</key>
                <string>{{770,0},{140,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_bg_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{839,154}</string>
                <key>spriteSourceSize</key>
                <string>{839,154}</string>
                <key>textureRect</key>
                <string>{{0,1870},{839,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_bg_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,46}</string>
                <key>spriteSourceSize</key>
                <string>{192,46}</string>
                <key>textureRect</key>
                <string>{{0,477},{192,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_czrw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{700,153},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_czrw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{560,153},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_fxrw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{0,192},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_fxrw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{420,192},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_lq_btn_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{78,39}</string>
                <key>textureRect</key>
                <string>{{473,0},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_lq_btn_title_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,39}</string>
                <key>spriteSourceSize</key>
                <string>{78,39}</string>
                <key>textureRect</key>
                <string>{{395,0},{78,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_alert_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,348}</string>
                <key>spriteSourceSize</key>
                <string>{368,348}</string>
                <key>textureRect</key>
                <string>{{0,590},{368,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_btn_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{428,477},{238,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_btn_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,113}</string>
                <key>spriteSourceSize</key>
                <string>{238,113}</string>
                <key>textureRect</key>
                <string>{{666,477},{238,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_gold_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,56}</string>
                <key>textureRect</key>
                <string>{{258,0},{63,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_img_touming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{551,0},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_img_zp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,600}</string>
                <key>spriteSourceSize</key>
                <string>{605,600}</string>
                <key>textureRect</key>
                <string>{{368,590},{605,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_img_zpc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,285}</string>
                <key>spriteSourceSize</key>
                <string>{142,285}</string>
                <key>textureRect</key>
                <string>{{702,192},{142,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_img_zpc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,285}</string>
                <key>spriteSourceSize</key>
                <string>{142,285}</string>
                <key>textureRect</key>
                <string>{{560,192},{142,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{321,0},{74,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_10lz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,44}</string>
                <key>spriteSourceSize</key>
                <string>{115,44}</string>
                <key>textureRect</key>
                <string>{{655,0},{115,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_mrhd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,54}</string>
                <key>spriteSourceSize</key>
                <string>{236,54}</string>
                <key>textureRect</key>
                <string>{{192,477},{236,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_wkf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{0,153},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_xyzp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{140,153},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_xyzp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,38}</string>
                <key>textureRect</key>
                <string>{{280,153},{140,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zrhd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{43,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zrhd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zxgg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{86,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zxgg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{215,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zxrw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{129,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan_title_zxrw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,153}</string>
                <key>spriteSourceSize</key>
                <string>{43,153}</string>
                <key>textureRect</key>
                <string>{{172,0},{43,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_activity_imgs_new.png</string>
            <key>size</key>
            <string>{973,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7007ba0f3f579ceccb94608d2e43d7b0:a720e519e3c32af0166eba4974fcbf95:25487d5f16ca8d5f7c37f1534fa685b2$</string>
            <key>textureFileName</key>
            <string>home_activity_imgs_new.png</string>
        </dict>
    </dict>
</plist>
