<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_setting_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_checkbox_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{45,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_checkbox_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{84,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_close_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,83}</string>
                <key>spriteSourceSize</key>
                <string>{212,83}</string>
                <key>textureRect</key>
                <string>{{123,0},{212,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_exit_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,49}</string>
                <key>spriteSourceSize</key>
                <string>{166,49}</string>
                <key>textureRect</key>
                <string>{{335,0},{166,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{501,0},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_open_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,83}</string>
                <key>spriteSourceSize</key>
                <string>{212,83}</string>
                <key>textureRect</key>
                <string>{{546,0},{212,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_statu_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{758,0},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,117}</string>
                <key>spriteSourceSize</key>
                <string>{561,117}</string>
                <key>textureRect</key>
                <string>{{841,0},{561,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_setting_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1263,146}</string>
                <key>spriteSourceSize</key>
                <string>{1263,146}</string>
                <key>textureRect</key>
                <string>{{0,117},{1263,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_setting_imgs.png</string>
            <key>size</key>
            <string>{1402,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb088a38184beafa323f26d9eb8e9f2:7e55b4f1a36e66f95dad177f57a134cc:96c54f29376dce1951af89eb51379b3b$</string>
            <key>textureFileName</key>
            <string>home_setting_imgs.png</string>
        </dict>
    </dict>
</plist>
