<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,448}</string>
                <key>spriteSourceSize</key>
                <string>{379,448}</string>
                <key>textureRect</key>
                <string>{{0,0},{379,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{379,0},{171,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_shop_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,685}</string>
                <key>spriteSourceSize</key>
                <string>{685,685}</string>
                <key>textureRect</key>
                <string>{{0,448},{685,685}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title_bg_icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,111}</string>
                <key>spriteSourceSize</key>
                <string>{368,111}</string>
                <key>textureRect</key>
                <string>{{0,1133},{368,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title_bg_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,111}</string>
                <key>spriteSourceSize</key>
                <string>{368,111}</string>
                <key>textureRect</key>
                <string>{{368,1133},{368,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pack_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,60}</string>
                <key>spriteSourceSize</key>
                <string>{221,60}</string>
                <key>textureRect</key>
                <string>{{0,1244},{221,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_djmc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,48}</string>
                <key>spriteSourceSize</key>
                <string>{168,48}</string>
                <key>textureRect</key>
                <string>{{221,1244},{168,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_djsl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,48}</string>
                <key>spriteSourceSize</key>
                <string>{168,48}</string>
                <key>textureRect</key>
                <string>{{389,1244},{168,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_djyt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,45}</string>
                <key>spriteSourceSize</key>
                <string>{157,45}</string>
                <key>textureRect</key>
                <string>{{557,1244},{157,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_sy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{0,1304},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_pack_imgs_new.png</string>
            <key>size</key>
            <string>{736,1371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4303510653e9b877e6d2d64646cad62:4ed8a70fdeeaf06f97b0fb68074c7de3:f8fa528985d518fb5ad0acb9902c7eed$</string>
            <key>textureFileName</key>
            <string>home_pack_imgs_new.png</string>
        </dict>
    </dict>
</plist>
