<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_log_img_itembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1042,92}</string>
                <key>spriteSourceSize</key>
                <string>{1042,92}</string>
                <key>textureRect</key>
                <string>{{476,96},{1042,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_fjlx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,32}</string>
                <key>spriteSourceSize</key>
                <string>{121,32}</string>
                <key>textureRect</key>
                <string>{{687,0},{121,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_jbbh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,30}</string>
                <key>spriteSourceSize</key>
                <string>{123,30}</string>
                <key>textureRect</key>
                <string>{{331,0},{123,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_ksjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,30}</string>
                <key>spriteSourceSize</key>
                <string>{117,30}</string>
                <key>textureRect</key>
                <string>{{454,0},{117,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_lssj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,29}</string>
                <key>spriteSourceSize</key>
                <string>{119,29}</string>
                <key>textureRect</key>
                <string>{{212,0},{119,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_pjjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,56}</string>
                <key>spriteSourceSize</key>
                <string>{229,56}</string>
                <key>textureRect</key>
                <string>{{0,96},{229,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_px.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,31}</string>
                <key>spriteSourceSize</key>
                <string>{61,31}</string>
                <key>textureRect</key>
                <string>{{626,0},{61,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_sf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{571,0},{55,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_yxc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_log_title_yxlx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{91,0},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_img_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{229,96},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_img_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{290,96},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,48}</string>
                <key>spriteSourceSize</key>
                <string>{597,48}</string>
                <key>textureRect</key>
                <string>{{490,41},{597,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_bd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,66}</string>
                <key>spriteSourceSize</key>
                <string>{125,66}</string>
                <key>textureRect</key>
                <string>{{351,96},{125,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_bdsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,55}</string>
                <key>spriteSourceSize</key>
                <string>{186,55}</string>
                <key>textureRect</key>
                <string>{{1276,41},{186,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_bdsj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,39}</string>
                <key>spriteSourceSize</key>
                <string>{127,39}</string>
                <key>textureRect</key>
                <string>{{1100,0},{127,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_dh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,38}</string>
                <key>spriteSourceSize</key>
                <string>{79,38}</string>
                <key>textureRect</key>
                <string>{{808,0},{79,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_djzg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,46}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{326,41},{164,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_grxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,54}</string>
                <key>spriteSourceSize</key>
                <string>{189,54}</string>
                <key>textureRect</key>
                <string>{{1087,41},{189,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_pjjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,38}</string>
                <key>textureRect</key>
                <string>{{887,0},{128,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_xb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,39}</string>
                <key>spriteSourceSize</key>
                <string>{85,39}</string>
                <key>textureRect</key>
                <string>{{1015,0},{85,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_zgzc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,44}</string>
                <key>spriteSourceSize</key>
                <string>{165,44}</string>
                <key>textureRect</key>
                <string>{{161,41},{165,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_zjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,42}</string>
                <key>spriteSourceSize</key>
                <string>{161,42}</string>
                <key>textureRect</key>
                <string>{{0,41},{161,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>person_info_title_zyl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,41}</string>
                <key>spriteSourceSize</key>
                <string>{162,41}</string>
                <key>textureRect</key>
                <string>{{1227,0},{162,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_person_imgs.png</string>
            <key>size</key>
            <string>{1518,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457ee935533313261cb4cdf5fa17aa59:9fdfbefa4af2cda0e933d18045bf375e:54573b9527e2fd2974d24eb74dfab9ad$</string>
            <key>textureFileName</key>
            <string>home_person_imgs.png</string>
        </dict>
    </dict>
</plist>
