<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang_img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,806}</string>
                <key>spriteSourceSize</key>
                <string>{725,806}</string>
                <key>textureRect</key>
                <string>{{2532,1698},{725,806}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_checkbox_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,76}</string>
                <key>spriteSourceSize</key>
                <string>{261,76}</string>
                <key>textureRect</key>
                <string>{{2310,0},{261,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_checkbox_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,76}</string>
                <key>spriteSourceSize</key>
                <string>{261,76}</string>
                <key>textureRect</key>
                <string>{{2571,0},{261,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,152}</string>
                <key>spriteSourceSize</key>
                <string>{685,152}</string>
                <key>textureRect</key>
                <string>{{196,226},{685,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_jinpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{98,226},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_menus_interval_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{45,74}</string>
                <key>textureRect</key>
                <string>{{2265,0},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_msg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,107}</string>
                <key>spriteSourceSize</key>
                <string>{377,107}</string>
                <key>textureRect</key>
                <string>{{2418,77},{377,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,44}</string>
                <key>spriteSourceSize</key>
                <string>{137,44}</string>
                <key>textureRect</key>
                <string>{{104,0},{137,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_show_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{1408,0},{81,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_show_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{1489,0},{81,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_tongpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{0,226},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_img_yinpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{3592,77},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_title_dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,38}</string>
                <key>textureRect</key>
                <string>{{31,0},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_title_hyphb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,45}</string>
                <key>spriteSourceSize</key>
                <string>{222,45}</string>
                <key>textureRect</key>
                <string>{{685,0},{222,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_title_hyphb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,45}</string>
                <key>spriteSourceSize</key>
                <string>{222,45}</string>
                <key>textureRect</key>
                <string>{{241,0},{222,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_title_zcfb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,45}</string>
                <key>spriteSourceSize</key>
                <string>{222,45}</string>
                <key>textureRect</key>
                <string>{{463,0},{222,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_title_zcfb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,45}</string>
                <key>spriteSourceSize</key>
                <string>{222,45}</string>
                <key>textureRect</key>
                <string>{{907,0},{222,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,146}</string>
                <key>spriteSourceSize</key>
                <string>{12,146}</string>
                <key>textureRect</key>
                <string>{{3578,77},{12,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_bg_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,146}</string>
                <key>spriteSourceSize</key>
                <string>{2,146}</string>
                <key>textureRect</key>
                <string>{{3590,77},{2,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_bb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{1302,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_bb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{1488,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{1116,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{744,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_gd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{930,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_gd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{2232,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_hd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{2046,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_hd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{1860,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_qd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{1674,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_qd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{372,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_rw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{2832,0},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_rw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{3018,0},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,176}</string>
                <key>spriteSourceSize</key>
                <string>{285,176}</string>
                <key>textureRect</key>
                <string>{{0,402},{285,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,176}</string>
                <key>spriteSourceSize</key>
                <string>{285,176}</string>
                <key>textureRect</key>
                <string>{{3317,226},{285,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sm_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{3204,0},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sm_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{558,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sz_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{3576,0},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_sz_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{186,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_yj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{3390,0},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btnbg_yj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{0,77},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_img_gengduo_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,191}</string>
                <key>spriteSourceSize</key>
                <string>{227,191}</string>
                <key>textureRect</key>
                <string>{{285,402},{227,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2436,523}</string>
                <key>spriteSourceSize</key>
                <string>{2436,523}</string>
                <key>textureRect</key>
                <string>{{512,402},{2436,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_jiajiale_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{1266,1050},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_jiajiale_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{1899,1050},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_add_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{3305,77},{133,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_add_btn_02.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{3172,77},{133,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_bang_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,808}</string>
                <key>spriteSourceSize</key>
                <string>{242,808}</string>
                <key>textureRect</key>
                <string>{{3257,1698},{242,808}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_bang_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,50}</string>
                <key>spriteSourceSize</key>
                <string>{127,50}</string>
                <key>textureRect</key>
                <string>{{1281,0},{127,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{2795,77},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_left_head_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{2918,77},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_longhu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{633,1050},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_longhu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{2532,1050},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_niuniu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{2948,402},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_niuniu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{1266,1698},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_xuanhuang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{1899,1698},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_xuanhuang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{633,1698},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_zhizun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{0,1698},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_zhizun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,648}</string>
                <key>spriteSourceSize</key>
                <string>{633,648}</string>
                <key>textureRect</key>
                <string>{{0,1050},{633,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_red_point_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2436,168}</string>
                <key>spriteSourceSize</key>
                <string>{2436,168}</string>
                <key>textureRect</key>
                <string>{{881,226},{2436,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_dianchi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{1205,0},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_dianchi_dianliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{1129,0},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,59}</string>
                <key>spriteSourceSize</key>
                <string>{201,59}</string>
                <key>textureRect</key>
                <string>{{1570,0},{201,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{1845,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,139}</string>
                <key>spriteSourceSize</key>
                <string>{140,139}</string>
                <key>textureRect</key>
                <string>{{3438,77},{140,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_head_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{3041,77},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_kefu_btn_icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,74}</string>
                <key>spriteSourceSize</key>
                <string>{173,74}</string>
                <key>textureRect</key>
                <string>{{2092,0},{173,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_kefu_btn_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,74}</string>
                <key>spriteSourceSize</key>
                <string>{173,74}</string>
                <key>textureRect</key>
                <string>{{1919,0},{173,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_zuan_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{1771,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_imgs_new.png</string>
            <key>size</key>
            <string>{3762,2506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57a0a6994b4deb70ee397fe0053a617c:56ec37fb9e145558c4a9fbd429a5c3e6:71f1941a90565d13136ab87e72d50525$</string>
            <key>textureFileName</key>
            <string>home_imgs_new.png</string>
        </dict>
    </dict>
</plist>
