<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_email_btn_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,92}</string>
                <key>spriteSourceSize</key>
                <string>{253,92}</string>
                <key>textureRect</key>
                <string>{{511,72},{253,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,92}</string>
                <key>spriteSourceSize</key>
                <string>{253,92}</string>
                <key>textureRect</key>
                <string>{{1024,72},{253,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,92}</string>
                <key>textureRect</key>
                <string>{{768,72},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,92}</string>
                <key>textureRect</key>
                <string>{{1277,72},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1335,455},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1517,455},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_bg_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1168,455},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_btn_interval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,92}</string>
                <key>spriteSourceSize</key>
                <string>{4,92}</string>
                <key>textureRect</key>
                <string>{{764,72},{4,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_chakan_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,61}</string>
                <key>spriteSourceSize</key>
                <string>{112,61}</string>
                <key>textureRect</key>
                <string>{{445,0},{112,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_chakanyj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,72}</string>
                <key>spriteSourceSize</key>
                <string>{354,72}</string>
                <key>textureRect</key>
                <string>{{1314,0},{354,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_close_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{1084,164},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_del_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,69}</string>
                <key>spriteSourceSize</key>
                <string>{137,69}</string>
                <key>textureRect</key>
                <string>{{557,0},{137,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1211,844}</string>
                <key>spriteSourceSize</key>
                <string>{1211,844}</string>
                <key>textureRect</key>
                <string>{{779,637},{1211,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,444}</string>
                <key>spriteSourceSize</key>
                <string>{779,444}</string>
                <key>textureRect</key>
                <string>{{0,637},{779,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_fsyj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,60}</string>
                <key>spriteSourceSize</key>
                <string>{228,60}</string>
                <key>textureRect</key>
                <string>{{217,0},{228,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_gift_box_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{439,72},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_gold_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,70}</string>
                <key>spriteSourceSize</key>
                <string>{352,70}</string>
                <key>textureRect</key>
                <string>{{826,0},{352,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_gold_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,93}</string>
                <key>spriteSourceSize</key>
                <string>{523,93}</string>
                <key>textureRect</key>
                <string>{{0,164},{523,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_huifu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,70}</string>
                <key>spriteSourceSize</key>
                <string>{132,70}</string>
                <key>textureRect</key>
                <string>{{694,0},{132,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,155}</string>
                <key>spriteSourceSize</key>
                <string>{1168,155}</string>
                <key>textureRect</key>
                <string>{{0,455},{1168,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_lingqu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,48}</string>
                <key>spriteSourceSize</key>
                <string>{94,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_oppen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{1225,164},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_send_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{136,70}</string>
                <key>textureRect</key>
                <string>{{1178,0},{136,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_send_title_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,72}</string>
                <key>spriteSourceSize</key>
                <string>{355,72}</string>
                <key>textureRect</key>
                <string>{{0,72},{355,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_show_yiwan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{355,72},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,117}</string>
                <key>spriteSourceSize</key>
                <string>{561,117}</string>
                <key>textureRect</key>
                <string>{{523,164},{561,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1263,144}</string>
                <key>spriteSourceSize</key>
                <string>{1263,144}</string>
                <key>textureRect</key>
                <string>{{0,301},{1263,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_yichakan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,49}</string>
                <key>spriteSourceSize</key>
                <string>{123,49}</string>
                <key>textureRect</key>
                <string>{{94,0},{123,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_email_yiwan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,154}</string>
                <key>spriteSourceSize</key>
                <string>{92,154}</string>
                <key>textureRect</key>
                <string>{{1263,301},{92,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_email_imgs.png</string>
            <key>size</key>
            <string>{1990,1481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d4d4841580bb4274f8acc702dbae12:9080941025b059a7895c7adef4b07b22:f4bade2abdccc8b2eb41bdc976b7e208$</string>
            <key>textureFileName</key>
            <string>home_email_imgs.png</string>
        </dict>
    </dict>
</plist>
