<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_signIn_btn_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,56}</string>
                <key>spriteSourceSize</key>
                <string>{193,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{193,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{0,117},{135,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_item_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,297}</string>
                <key>spriteSourceSize</key>
                <string>{261,297}</string>
                <key>textureRect</key>
                <string>{{386,117},{261,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_item_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,297}</string>
                <key>spriteSourceSize</key>
                <string>{261,297}</string>
                <key>textureRect</key>
                <string>{{0,414},{261,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_liwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,362}</string>
                <key>spriteSourceSize</key>
                <string>{308,362}</string>
                <key>textureRect</key>
                <string>{{261,414},{308,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_liwu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,606}</string>
                <key>spriteSourceSize</key>
                <string>{395,606}</string>
                <key>textureRect</key>
                <string>{{0,776},{395,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_liwu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,606}</string>
                <key>spriteSourceSize</key>
                <string>{395,606}</string>
                <key>textureRect</key>
                <string>{{395,776},{395,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_texiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,287}</string>
                <key>spriteSourceSize</key>
                <string>{251,287}</string>
                <key>textureRect</key>
                <string>{{135,117},{251,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_signIn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,117}</string>
                <key>spriteSourceSize</key>
                <string>{561,117}</string>
                <key>textureRect</key>
                <string>{{193,0},{561,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_signIn_imgs.png</string>
            <key>size</key>
            <string>{790,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee51a199ed789021d44b918663bcc5d:36b63d4b254a053af84d47fa11707069:127ce7bd87708611951d00328dfcab14$</string>
            <key>textureFileName</key>
            <string>home_signIn_imgs.png</string>
        </dict>
    </dict>
</plist>
