<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_top_add_ highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_add_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1143,142}</string>
                <key>spriteSourceSize</key>
                <string>{1143,142}</string>
                <key>textureRect</key>
                <string>{{130,0},{1143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_ditu_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{0,142},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_gold_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{119,142},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{205,142},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_head_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{288,142},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_kefu1_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,143}</string>
                <key>spriteSourceSize</key>
                <string>{252,143}</string>
                <key>textureRect</key>
                <string>{{407,142},{252,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_kefu2_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,143}</string>
                <key>spriteSourceSize</key>
                <string>{252,143}</string>
                <key>textureRect</key>
                <string>{{659,142},{252,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_name_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,116}</string>
                <key>spriteSourceSize</key>
                <string>{266,116}</string>
                <key>textureRect</key>
                <string>{{911,142},{266,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_top_zuan_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{1177,142},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_top_imgs.png</string>
            <key>size</key>
            <string>{1273,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1606a419f2149fab4e67adf5c8ecdbfc:c980db8dffef578dfd6ca4f4847c5298:ec2eea3fbc71104cbb1f89adf69f0ccd$</string>
            <key>textureFileName</key>
            <string>home_top_imgs.png</string>
        </dict>
    </dict>
</plist>
