<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_share_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,143}</string>
                <key>spriteSourceSize</key>
                <string>{565,143}</string>
                <key>textureRect</key>
                <string>{{1130,0},{565,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,143}</string>
                <key>spriteSourceSize</key>
                <string>{565,143}</string>
                <key>textureRect</key>
                <string>{{1695,0},{565,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_btn_title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,143}</string>
                <key>spriteSourceSize</key>
                <string>{565,143}</string>
                <key>textureRect</key>
                <string>{{565,0},{565,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_btn_title_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,143}</string>
                <key>spriteSourceSize</key>
                <string>{565,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{565,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_complete_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,88}</string>
                <key>spriteSourceSize</key>
                <string>{649,88}</string>
                <key>textureRect</key>
                <string>{{2260,0},{649,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_content_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2436,1125}</string>
                <key>spriteSourceSize</key>
                <string>{2436,1125}</string>
                <key>textureRect</key>
                <string>{{1111,143},{2436,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_content_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,76}</string>
                <key>spriteSourceSize</key>
                <string>{665,76}</string>
                <key>textureRect</key>
                <string>{{2909,0},{665,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_share_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1111,357}</string>
                <key>spriteSourceSize</key>
                <string>{1111,357}</string>
                <key>textureRect</key>
                <string>{{0,143},{1111,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_share_imgs.png</string>
            <key>size</key>
            <string>{3574,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:050e78d6f435312ac51d7a590494b382:f4b228591956d2886626b35da960d9f5:36fe3368d3bb5eb71f7b7f6762d46f3d$</string>
            <key>textureFileName</key>
            <string>home_share_imgs.png</string>
        </dict>
    </dict>
</plist>
