<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_pack_btn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,61}</string>
                <key>spriteSourceSize</key>
                <string>{140,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_pack_info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,159}</string>
                <key>spriteSourceSize</key>
                <string>{414,159}</string>
                <key>textureRect</key>
                <string>{{140,0},{414,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_pack_shop_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,209}</string>
                <key>spriteSourceSize</key>
                <string>{205,209}</string>
                <key>textureRect</key>
                <string>{{554,0},{205,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_pack_shop_intro_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,445}</string>
                <key>spriteSourceSize</key>
                <string>{408,445}</string>
                <key>textureRect</key>
                <string>{{759,0},{408,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_pack_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,117}</string>
                <key>spriteSourceSize</key>
                <string>{561,117}</string>
                <key>textureRect</key>
                <string>{{1167,0},{561,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_pack_top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1264,145}</string>
                <key>spriteSourceSize</key>
                <string>{1264,145}</string>
                <key>textureRect</key>
                <string>{{0,445},{1264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_pack_imgs.png</string>
            <key>size</key>
            <string>{1728,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f312c9c0f34fc2b56e791f0ad56dfb8d:e016bfc313ff7f83a157ee34dd312610:9d9e0c65123a3a8bd35390f98633026f$</string>
            <key>textureFileName</key>
            <string>home_pack_imgs.png</string>
        </dict>
    </dict>
</plist>
