<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_bottom_bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,157}</string>
                <key>spriteSourceSize</key>
                <string>{1920,157}</string>
                <key>textureRect</key>
                <string>{{0,0},{1920,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_email_highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{0,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_email_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{132,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_pack_highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{264,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_pack_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{396,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_setting_highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{528,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_setting_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{660,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_shop_highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,197}</string>
                <key>spriteSourceSize</key>
                <string>{244,197}</string>
                <key>textureRect</key>
                <string>{{792,157},{244,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_shop_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,197}</string>
                <key>spriteSourceSize</key>
                <string>{244,197}</string>
                <key>textureRect</key>
                <string>{{1036,157},{244,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_signIn_highlighted_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{1280,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_bottom_signIn_normal_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,144}</string>
                <key>spriteSourceSize</key>
                <string>{132,144}</string>
                <key>textureRect</key>
                <string>{{1412,157},{132,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_bottom_imgs.png</string>
            <key>size</key>
            <string>{1920,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b498f1bcb433829f42da07dd176b8096:ccf245b2fb0ac8096e2024c74ee47a38:2e122efbf521a54feaddf952c9e6e70d$</string>
            <key>textureFileName</key>
            <string>home_bottom_imgs.png</string>
        </dict>
    </dict>
</plist>
