<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1502,1034}</string>
                <key>spriteSourceSize</key>
                <string>{1502,1034}</string>
                <key>textureRect</key>
                <string>{{268,385},{1502,1034}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_chat_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,109}</string>
                <key>spriteSourceSize</key>
                <string>{453,109}</string>
                <key>textureRect</key>
                <string>{{893,0},{453,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_chat_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,109}</string>
                <key>spriteSourceSize</key>
                <string>{453,109}</string>
                <key>textureRect</key>
                <string>{{1346,0},{453,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,116}</string>
                <key>spriteSourceSize</key>
                <string>{307,116}</string>
                <key>textureRect</key>
                <string>{{586,0},{307,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ewm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{0,385},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,91}</string>
                <key>spriteSourceSize</key>
                <string>{303,91}</string>
                <key>textureRect</key>
                <string>{{283,0},{303,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_aybczxkf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,385}</string>
                <key>spriteSourceSize</key>
                <string>{64,385}</string>
                <key>textureRect</key>
                <string>{{219,0},{64,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_sys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,55}</string>
                <key>spriteSourceSize</key>
                <string>{157,55}</string>
                <key>textureRect</key>
                <string>{{62,0},{157,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_kefu_imgs.png</string>
            <key>size</key>
            <string>{1799,1419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d42611cee8ff8593affadf02865ff5:fbd0e45c62a7acb581016a4096332f8b:e09f047502850ff074edcc528a2a31f6$</string>
            <key>textureFileName</key>
            <string>home_kefu_imgs.png</string>
        </dict>
    </dict>
</plist>
