<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cancel_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,62}</string>
                <key>spriteSourceSize</key>
                <string>{114,62}</string>
                <key>textureRect</key>
                <string>{{1087,0},{114,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fasong_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,68}</string>
                <key>spriteSourceSize</key>
                <string>{122,68}</string>
                <key>textureRect</key>
                <string>{{1330,0},{122,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fuxuan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,213}</string>
                <key>textureRect</key>
                <string>{{306,252},{221,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fuxuan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,213}</string>
                <key>textureRect</key>
                <string>{{527,252},{221,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guapai_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,123}</string>
                <key>spriteSourceSize</key>
                <string>{220,123}</string>
                <key>textureRect</key>
                <string>{{544,95},{220,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guapai_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,123}</string>
                <key>spriteSourceSize</key>
                <string>{220,123}</string>
                <key>textureRect</key>
                <string>{{764,95},{220,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huifu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{703,0},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,106}</string>
                <key>spriteSourceSize</key>
                <string>{306,106}</string>
                <key>textureRect</key>
                <string>{{1166,95},{306,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,106}</string>
                <key>spriteSourceSize</key>
                <string>{306,106}</string>
                <key>textureRect</key>
                <string>{{1472,95},{306,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,106}</string>
                <key>spriteSourceSize</key>
                <string>{306,106}</string>
                <key>textureRect</key>
                <string>{{0,252},{306,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,74}</string>
                <key>spriteSourceSize</key>
                <string>{147,74}</string>
                <key>textureRect</key>
                <string>{{0,95},{147,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,74}</string>
                <key>spriteSourceSize</key>
                <string>{147,74}</string>
                <key>textureRect</key>
                <string>{{147,95},{147,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_queding_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,57}</string>
                <key>spriteSourceSize</key>
                <string>{129,57}</string>
                <key>textureRect</key>
                <string>{{1201,0},{129,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shanchu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,55}</string>
                <key>spriteSourceSize</key>
                <string>{111,55}</string>
                <key>textureRect</key>
                <string>{{976,0},{111,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_close_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{61,77}</string>
                <key>textureRect</key>
                <string>{{494,0},{61,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_close_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{61,77}</string>
                <key>textureRect</key>
                <string>{{433,0},{61,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_diban_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,115}</string>
                <key>spriteSourceSize</key>
                <string>{110,115}</string>
                <key>textureRect</key>
                <string>{{294,95},{110,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,95}</string>
                <key>textureRect</key>
                <string>{{1570,0},{110,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{555,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_head_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,139}</string>
                <key>spriteSourceSize</key>
                <string>{140,139}</string>
                <key>textureRect</key>
                <string>{{404,95},{140,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hengban_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,154}</string>
                <key>spriteSourceSize</key>
                <string>{1052,154}</string>
                <key>textureRect</key>
                <string>{{748,252},{1052,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hengban_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,63}</string>
                <key>spriteSourceSize</key>
                <string>{43,63}</string>
                <key>textureRect</key>
                <string>{{327,0},{43,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiugongge_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,75}</string>
                <key>spriteSourceSize</key>
                <string>{118,75}</string>
                <key>textureRect</key>
                <string>{{1452,0},{118,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiugongge_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,61}</string>
                <key>spriteSourceSize</key>
                <string>{90,61}</string>
                <key>textureRect</key>
                <string>{{803,0},{90,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiugongge_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{370,0},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,2}</string>
                <key>spriteSourceSize</key>
                <string>{47,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mianban_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1470,1043}</string>
                <key>spriteSourceSize</key>
                <string>{1470,1043}</string>
                <key>textureRect</key>
                <string>{{0,2084},{1470,1043}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mianban_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,841}</string>
                <key>spriteSourceSize</key>
                <string>{906,841}</string>
                <key>textureRect</key>
                <string>{{906,465},{906,841}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mianban_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,662}</string>
                <key>spriteSourceSize</key>
                <string>{906,662}</string>
                <key>textureRect</key>
                <string>{{0,465},{906,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mianban_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1509,778}</string>
                <key>spriteSourceSize</key>
                <string>{1509,778}</string>
                <key>textureRect</key>
                <string>{{0,1306},{1509,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{131,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{103,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{187,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{75,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{47,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{159,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{215,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{271,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{299,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{243,0},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{893,0},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,157}</string>
                <key>spriteSourceSize</key>
                <string>{182,157}</string>
                <key>textureRect</key>
                <string>{{984,95},{182,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{629,0},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>global_imgs_new.png</string>
            <key>size</key>
            <string>{1812,3127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d213ca2fa372971fdc45a1fe05b300:6ef962f5f5b8a8a8796bd19c2f49e356:116d914d814d650d76760215e2c5dd1d$</string>
            <key>textureFileName</key>
            <string>global_imgs_new.png</string>
        </dict>
    </dict>
</plist>
