<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,137}</string>
                <key>spriteSourceSize</key>
                <string>{445,137}</string>
                <key>textureRect</key>
                <string>{{730,225},{445,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,137}</string>
                <key>spriteSourceSize</key>
                <string>{445,137}</string>
                <key>textureRect</key>
                <string>{{1175,225},{445,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,98}</string>
                <key>spriteSourceSize</key>
                <string>{303,98}</string>
                <key>textureRect</key>
                <string>{{1198,0},{303,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,98}</string>
                <key>spriteSourceSize</key>
                <string>{303,98}</string>
                <key>textureRect</key>
                <string>{{895,0},{303,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,127}</string>
                <key>spriteSourceSize</key>
                <string>{365,127}</string>
                <key>textureRect</key>
                <string>{{365,225},{365,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,127}</string>
                <key>spriteSourceSize</key>
                <string>{365,127}</string>
                <key>textureRect</key>
                <string>{{1192,98},{365,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,127}</string>
                <key>spriteSourceSize</key>
                <string>{365,127}</string>
                <key>textureRect</key>
                <string>{{0,225},{365,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,118}</string>
                <key>spriteSourceSize</key>
                <string>{318,118}</string>
                <key>textureRect</key>
                <string>{{0,98},{318,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,118}</string>
                <key>spriteSourceSize</key>
                <string>{318,118}</string>
                <key>textureRect</key>
                <string>{{636,98},{318,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,118}</string>
                <key>spriteSourceSize</key>
                <string>{318,118}</string>
                <key>textureRect</key>
                <string>{{318,98},{318,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,59}</string>
                <key>spriteSourceSize</key>
                <string>{187,59}</string>
                <key>textureRect</key>
                <string>{{451,0},{187,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,59}</string>
                <key>spriteSourceSize</key>
                <string>{187,59}</string>
                <key>textureRect</key>
                <string>{{264,0},{187,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_close_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{212,0},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_close_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{160,0},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dianchi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,48}</string>
                <key>textureRect</key>
                <string>{{70,0},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dianchi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,32}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ditu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{954,98},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,95}</string>
                <key>textureRect</key>
                <string>{{785,0},{110,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiugong_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{638,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiugong_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,804}</string>
                <key>spriteSourceSize</key>
                <string>{169,804}</string>
                <key>textureRect</key>
                <string>{{1446,362},{169,804}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_kuang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{1073,98},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_show_view_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1264,145}</string>
                <key>spriteSourceSize</key>
                <string>{1264,145}</string>
                <key>textureRect</key>
                <string>{{0,362},{1264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,67}</string>
                <key>spriteSourceSize</key>
                <string>{83,67}</string>
                <key>textureRect</key>
                <string>{{702,0},{83,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,157}</string>
                <key>spriteSourceSize</key>
                <string>{182,157}</string>
                <key>textureRect</key>
                <string>{{1264,362},{182,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>global_imgs.png</string>
            <key>size</key>
            <string>{1620,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4afad46f60dfa4bb63477a390293d661:e1a1f4a08e298967ba82e37c396bc561:59cc093bb47662684b4be914e4038f57$</string>
            <key>textureFileName</key>
            <string>global_imgs.png</string>
        </dict>
    </dict>
</plist>
