<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_jiajiale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,560},{140,160}}</string>
                <key>offset</key>
                <string>{-156,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,54},{140,160}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,560},{134,154}}</string>
                <key>offset</key>
                <string>{-159,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{134,154}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,422},{168,148}}</string>
                <key>offset</key>
                <string>{-141,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,296},{198,142}}</string>
                <key>offset</key>
                <string>{-123,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,73},{198,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,282},{224,138}}</string>
                <key>offset</key>
                <string>{-102,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,77},{224,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,146},{250,148}}</string>
                <key>offset</key>
                <string>{-82,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{250,148}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{274,142}}</string>
                <key>offset</key>
                <string>{-61,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,73},{274,142}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,440},{300,138}}</string>
                <key>offset</key>
                <string>{-40,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{300,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{330,138}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{330,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,420},{360,138}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{360,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,142},{370,138}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{370,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{370,138}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{370,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{370,138}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{370,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,138}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{370,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{368,138}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{368,138}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_jiajiale_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,282},{368,136}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{368,136}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_jiajiale.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c38d3aaca8c11ce0243f56ff1412fa4:00eb458872bfce41c051cabc23dbf296:7ef2e90eccc48229fd21a2beccf6391e$</string>
            <key>textureFileName</key>
            <string>ui_jiajiale.png</string>
        </dict>
    </dict>
</plist>
