<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>propaganda-cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propaganda-sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propaganda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{0,44},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>propaganda.png</string>
            <key>size</key>
            <string>{164,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76c4b9848e5890465098278b63214adc:4a3d46dd6b7a64f2febc667811044681:471371c104cbb8799212b28fe04e4109$</string>
            <key>textureFileName</key>
            <string>propaganda.png</string>
        </dict>
    </dict>
</plist>
