<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jajale-num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{68,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{102,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{136,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{170,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{204,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{238,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{272,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jajale-num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{306,0},{34,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jajale-numtext.png</string>
            <key>size</key>
            <string>{340,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbd9d61d5bf9a2e28c5f14ea3704ed84:076810c8d40b27e4b449a30fee831478:b9401e647ffb43ea7711e7ee509ea805$</string>
            <key>textureFileName</key>
            <string>jajale-numtext.png</string>
        </dict>
    </dict>
</plist>
