<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>djlb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,83}</string>
                <key>spriteSourceSize</key>
                <string>{329,83}</string>
                <key>textureRect</key>
                <string>{{54,0},{329,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>draw1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{383,0},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>draw2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{444,0},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qxdj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,44}</string>
                <key>textureRect</key>
                <string>{{0,83},{160,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qxsqTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,84}</string>
                <key>spriteSourceSize</key>
                <string>{333,84}</string>
                <key>textureRect</key>
                <string>{{160,83},{333,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sqdj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,44}</string>
                <key>spriteSourceSize</key>
                <string>{160,44}</string>
                <key>textureRect</key>
                <string>{{0,167},{160,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jajale-sqdj.png</string>
            <key>size</key>
            <string>{505,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531b82677d4471f66b37d3666af4d0a6:b56cb5f8cdf575ef604ee4432f4a0358:cb0ab88e6deb1c851bb2735869864f2f$</string>
            <key>textureFileName</key>
            <string>jajale-sqdj.png</string>
        </dict>
    </dict>
</plist>
