<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_kaishi_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,414}}</string>
                <key>offset</key>
                <string>{-211,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{602,414}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,186},{522,418}}</string>
                <key>offset</key>
                <string>{-236,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{522,418}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{502,420}}</string>
                <key>offset</key>
                <string>{-239,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{502,420}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,362},{486,420}}</string>
                <key>offset</key>
                <string>{-246,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{486,420}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,532},{478,422}}</string>
                <key>offset</key>
                <string>{-250,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{478,422}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,904},{478,382}}</string>
                <key>offset</key>
                <string>{-250,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{478,382}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,784},{478,382}}</string>
                <key>offset</key>
                <string>{-250,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{478,382}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{478,302}}</string>
                <key>offset</key>
                <string>{-250,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,141},{478,302}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1012},{478,300}}</string>
                <key>offset</key>
                <string>{-250,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,142},{478,300}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,606},{480,296}}</string>
                <key>offset</key>
                <string>{-94,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{480,296}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{480,182}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,165},{480,182}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{528,182}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,165},{528,182}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{580,182}}</string>
                <key>offset</key>
                <string>{222,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,165},{580,182}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,182},{540,178}}</string>
                <key>offset</key>
                <string>{201,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,169},{540,178}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{580,178}}</string>
                <key>offset</key>
                <string>{222,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,169},{580,178}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>ui_kaishi_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,2},{56,104}}</string>
                <key>offset</key>
                <string>{-40,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,242},{56,104}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_kaishi_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ad985e0ea93839eaeff6d6d8bc380ba:a8e00545b8fefe47c0467c592688d37f:ad76b8ca7e991cf6795996de3b985652$</string>
            <key>textureFileName</key>
            <string>ui_kaishi_2.png</string>
        </dict>
    </dict>
</plist>
