<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_choumalan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{110,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{110,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{110,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,114},{110,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,340},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{110,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,344},{112,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,228},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumalan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{112,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_choumalan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef8bb8f3ae0e7cfc3418c52ff8c80772:99028a3f4a1c9430aae4516ce793b836:f67695b28fa0f7862ac0f9b6e82fe227$</string>
            <key>textureFileName</key>
            <string>ui_choumalan.png</string>
        </dict>
    </dict>
</plist>
