<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_choumahong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{110,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{110,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{110,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{110,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,114},{110,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,114},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,340},{110,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{110,108}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,344},{112,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,228},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_choumahong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{112,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_choumahong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be3180a79b95830ffad08a7891f0485:0d14f8f85867326c57c9f4c5fb72a5b3:50f83e86b94e52e68a0c1ef0ab743513$</string>
            <key>textureFileName</key>
            <string>ui_choumahong.png</string>
        </dict>
    </dict>
</plist>
